@import '../../styles';

.cost {
  background: url("../../../public/assets/cost/cost-wave-down.png") 40% bottom/300% no-repeat,
  url("../../../public/assets/cost/cost-wave-up.png") 0 0/200% no-repeat,
  $gradient-header;

}

.container {
  @include mobileDesktop;
  padding: 300px 15px 80px 15px;
}

.cost__title {
  @include title;
  text-align: start;
  margin-bottom: 64px;
  width: 310px;
}

.cost__title__accent {
  color: $bgc-orange-color;
}

.cost__card {
  width: 345px;
  border-radius: 35px;
  background-color: $bgc-light-gray-color;
  box-shadow: $shadow;
  padding: 44px 24px 44px 24px;
  position: relative;
}

.cost__links {
  margin-bottom: 48px;
  text-align: start;
}

.cost__link__item {
  font-family: map-get($fonts, b), sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
  opacity: 0.4;
  transition: all $animation $time-animation;
  position: relative;
  border: none;
  background-color: inherit;
  padding: 0;
  cursor: pointer;


  &:nth-child(1) {
    margin-right: 32px;
  }

  &:hover, &:focus {
    color: $bgc-orange-color;
    opacity: 1;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: $bgc-orange-color;
      bottom: -5px;
      left: 0;
    }
  }
}

.accordionTitleClass {
  @include accordionTitle;
}

//=============================================
@include desktopMedia() {

  .cost {
    background: url("../../../public/assets/cost/circle2.png") 95% bottom no-repeat,
    url("../../../public/assets/cost/circle3.png") 83% top no-repeat,
    url("../../../public/assets/cost/cost-wave-down.png") 0 bottom/contain no-repeat,
    url("../../../public/assets/cost/cost-wave-up.png") center 0/contain no-repeat,
    $gradient-header;

  }

  .container {
    @include containerDesktop;
    padding: 350px 15px 80px 15px;
  }

  .cost__title {
    width: 100%;
  }
  .cost__card {
    width: 60%;
    padding: 44px 45px 44px 40px;
    margin: 0 auto;

    &::after {
      content: '';
      background-image: url('../../../public/assets/cost/circle1.png');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      width: 74px;
      height: 74px;
      bottom: 120px;
      left: -50px;
    }
  }

  .cost__links {
    margin-bottom: 40px;
  }
}