@import "../../../styles";

@include desktopMedia() {


  .table {
    border-radius: 35px;
    background: $bgc-primary-color;
    border-collapse: collapse;
    width: 100%;

  }

  .headersColumnsGroup {
    :nth-child(1) {
      width: 300px;
    }

    :nth-child(2) {
      width: 250px;
    }

    :nth-child(3) {
      width: 250px;
    }

    :nth-child(4) {
      width: 125px;
    }
  }

  .headerColumnCell {
    @include text;
    color: $black-color-opacity;
    font-family: map-get($fonts, sb), sans-serif;
    font-size: 0.88rem;
    text-align: start;
    padding-bottom: 12px;

    &:first-child {
      padding-left: 70px;
    }

    &:nth-child(2), &:nth-child(3) {
      padding-right: 115px;
    }

    &:last-child {
      padding-right: 100px;
    }

  }
  

  .tableRow {
    &:nth-child(odd) {
      background-color: rgba(180, 187, 206, 0.15);
    }
  }
  .tableRowHeader {
    @include text;
    text-align: start;
    padding: 24px 53px 16px 0;
    width: 247px;

    &:first-child {
      padding-left: 70px;
    }

    &:last-child {
      padding-right: 172px;
    }
  }
  .tableRowCell {
    @include text;

  }
  .tableRowCell {

  }

}