@import "../../styles";

.container {
  @include mobileDesktop;
  padding: 0 0 100px 0;
  overflow: hidden;
}

.headerWrapper {
  display: flex;
  align-items: flex-start;
}

.btnWrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: auto;
}

.btnIcon {
  border: none;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bgc-orange-color;
  width: 46px;
  height: 46px;
}

.exampleSectionTitle {
  @include title;
  margin-bottom: 60px;
}

.arrows {
  visibility: hidden;
}

//============================
@include desktopMedia() {
  .container {
    @include containerDesktop;
    padding: 0 0 180px 0;
  }

  .exampleSectionTitle {
    margin-bottom: 64px;
  }


  //=======================
  .arrows {
    visibility: visible;
    display: flex;
    gap: 24px;
    transform: translateY(-110px);
    position: absolute;
    top: 0;
    right: 0;

    & > .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $bgc-orange-color;
      width: 46px;
      height: 46px;
      border: none;
      border-radius: 50%;
      transition: background-color $time-animation $animation;

      &:hover {
        background-color: $bgc-blue-color;
      }
    }
  }

  .prev > svg, .next > svg {
    width: 12px;
    height: 18px;
    fill: white;
  }

  .prev > svg {
    rotate: 180deg;
  }


}