@import "../../styles";


.accordion__item {
  border-bottom: solid 3px $bgc-gray-color;
  padding: 16px 0;

  &__active {
    border-bottom: solid 3px $bgc-blue-color;
    padding: 16px 0;
  }
}

.accordionTitleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

}

.cost__link__title {
  @include title;
  font-family: map-get($fonts, sm), sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: start;

  &__active {
    @include title;
    font-family: map-get($fonts, sm), sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: start;
    color: $text-blue-color;
  }
}

.accordion__descr {
  @include text;
  font-size: 14px;
  text-align: start;
  margin-top: 16px;
}

.collapse {
  height: 0;
  overflow: hidden;
  transition: height $time-animation $animation;
}

.collapseOpen {
  height: auto;
}
